
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet');
@import url( 'https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet');

:root{
    --main-color: linear-gradient(120deg,#2980b9, #8e44ad); /*color de fondo de la pagina*/
    --background-center: white;/* color de fondo del contenedor del formulario*/
    --color-muted:#aaaaaa; /* color del texto del placeholder y del borde del input*/
    --color-primary:#2691d9; /* color de focus del placeholder, borde del input y color de fondo del boton entrar(submit)*/
    --color-secondary:#8e44ad;
	  --color-shadow: rgba(0,0,0,0.6); /* color de la sombra*/ 
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Ranchers', cursive;
    background: var(--main-color);
    height: 100vh;
    place-items: center;
    display: grid;
    width: 100%;
    place-items: center;
}

::selection{
  background: var(--color-primary);
  color: #fff;
}

.container{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn_close{
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 5px;
  border: 2px solid white;
  background: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: .5s;
}

.btn_close:hover{
  box-shadow: 0px 10px 15px  var(--color-shadow);
  transform: scale(1.1);
}

.wrapper{
  margin-top: 60px;
  overflow: hidden;
  max-width: 400px;
  height: 550px;
  background:  rgba(255, 255, 255, 0.885);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px  var(--color-shadow);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 99%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid var(--color-muted);
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.drinks{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: var(--main-color);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#drinks:checked ~ .slider-tab{
  left: 50%;
}
#drinks:checked ~ label.drinks{
  color: #fff;
  cursor: default;
  user-select: none;
}
#drinks:checked ~ label.foods{
  color: #000;
}
#foods:checked ~ label.drinks{
  color: #000;
}
#foods:checked ~ label.foods{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 95%;
  margin-top: 20px;
}
.field2{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid var(--color-muted);
  border-bottom-width: 2px;
  font-size: 17px;

}

.field3{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid var(--color-muted);
  border-bottom-width: 2px;
  font-size: 17px;

}

.field2::selection{
  color: #999;
  transition: all 0.3s ease;
}
.form-inner form .field input,textarea{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid var(--color-muted);
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.form-inner form .field textarea {
  resize: vertical;
  height: 70px;
  max-height: 120px;
  margin-bottom: 10px;
}
.form-inner form .field input:focus,
.form-inner form .field textarea:focus{
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input,textarea::placeholder{
  color: #999;
  transition: all 0.3s ease;
}

.field_btn{
  margin-top: 60px;
}
.form-inner form .field input:focus::placeholder,
.form-inner form .field textarea:focus::placeholder{
  color: var(--color-secondary);
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .drinks-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .drinks-link a{
  color: var(--color-primary);
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .drinks-link a:hover{
  text-decoration: underline;
}

form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: var(--main-color);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
/* .container_menu{
  margin-top: 60px;
  overflow: hidden;
  width: 400px;
  height: 550px;
  background: rgba(255, 255, 255, 0.885);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px  var(--color-shadow);
}

.container_menu ul{  
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.itms_menu{
  background: white;
  border: 3px solid #8e44ad;
  border-radius: 20px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.itms_menu img {
  height: 100%;
  width: 50px;
  margin: 0;
}
.itms_menu .menu_info{
  margin-left:10px;

} */



.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
  outline: dashed;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 15px 15px 15px 15px;
  height: max-content;
  max-height: 30rem;
  overflow-y: auto;
}
@media (max-width: 500px){
  .popup .popuptext {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    outline: dashed;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 10px 10px 10px 10px;
    height: auto;
    overflow-y: auto;
    max-height: 40em ;
  }
}
@media (max-width: 398px){
  .popup .popuptext {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    outline: dashed;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 10px 10px 10px 10px;
    height: auto;
    overflow-y: auto;
    max-height: 30em ;
  }
}
/* Popup arrow */
.popup .popuptext::after {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
  content: "";
  position: absolute;
  bottom: 100%;
  left: 85%;
  margin-left: 5px;
  border-width: 7px;
  border-style: solid;
  border-color:black transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}






/*  */




:root{
  --main-color: linear-gradient(120deg,#2980b9, #8e44ad); /*color de fondo de la pagina*/
  --main-color2: linear-gradient(120deg, #8e44ad , #2980b9); /*color de fondo de la pagina*/
  --background-center: white;/* color de fondo del contenedor del formulario*/
  --color-muted:#aaaaaa; /* color del texto del placeholder y del borde del input*/
  --color-primary:#2691d9; /* color de focus del placeholder, borde del input y color de fondo del boton entrar(submit)*/
  --color-secondary:#8e44ad;
--color-shadow: rgba(0,0,0,.4); /* color de la sombra*/ 
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Ranchers', cursive;   
  background: var(--main-color);
  height: 100vh;
  width: 100%;
}
.container{
  background: var(--main-color);
}
.container_header{
  width: 100%;
  height: 100px;    
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  border-bottom: 3px solid;
  border-image: linear-gradient( to right,transparent, #fff, transparent) 1;
}

.container_header h1{
  margin-top: 20px;
  color: white;
}

.btn_close{
  position: absolute;
  top: 30px;
  right: 70px;
  border-radius: 5px;
  border: 2px solid white;
  background: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: .5s;
}

.btn_close:hover{
  box-shadow: 0px 10px 15px  var(--color-shadow);
  transform: scale(1.1);
}

.btn_historico{
  position: absolute;
  top: 30px;
  left: 70px;
  border-radius: 5px;
  border: 2px solid white;
  background: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: .5s;
}

.btn_historico:hover{
  box-shadow: 0px 10px 15px  var(--color-shadow);
  transform: scale(1.1);
}

.accordion{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.accordion_item{
  min-width: -webkit-fill-available;
  background: var(--main-color2);;
  color: #fff;
  margin: .5rem .3rem .5rem .3rem;
  border: 1px solid whitesmoke;
  border-radius: 0.5rem;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.5);
}

.accordion_item_header{
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.accordion_item_header::after{
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: trasform .5s ease-in-out;
}

.accordion_item_header.active::after{
  content: "\2212";    
}

.accordion_item_header:hover{
  box-shadow: 0px 10px 15px  var(--color-shadow);
}

.accordion_item_body{
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;
}

img {
  width: 50px;
  height: 50px;
}

.contenedor_info{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.contenedor_list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.item_list {
  display: flex;
  margin-bottom: 5px;
  width: 45%;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 3px solid white;
  border-radius: 15px;
}

.item_list img {
  width: 50px;
  height: 50px;
}

.accordion_item_body_content{
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 3px solid;
  border-image: linear-gradient( to right,transparent, #fff, transparent) 1;
}

.accordion_item_body_content a {
  text-decoration: none;
  cursor: pointer;
  color: #083dff;
  padding: 5px 20px;
  border-radius: 10px;
  background: #fff;
}
